{% extends "./../layout/app.html" %}
	
	{% block title%}
		London City | Home
	{%endblock%}
	{% block content%}
		<div class="container">
		  <div class = "row">
			<div class ="col-md-6">
				<img class ="home-image" src = "/img/ab2.jpg"  width = "100%">
			</div>
			<div class = "col-md-6">
			Barry Feldman, founder of Feldman Creative, is a prolific writer with 25 years of experience bringing his clients' online presence to the next level through copywriting and content marketing creation and consulting. He writes and educates clients on online marketing on The Point and on many other sites across the web. Connect with Barry on Twitter and LinkedIn.
			<p>Planning, creating, and publishing website homepage content is no walk in the park. In fact, it presents the most difficult—and important—decisions a digital marketer must make.

Everyone seems to want to know the exact formula for getting it right. But no such formula exists. So the process of getting homepage content published often paralyzes marketers big and small, experienced and novice.

I have the “What should I put on my homepage?” conversation with clients nearly every day. The answer could be:

(a) Content that best positions your company as the solution to a specific problem

(b) Content prospective buyers are looking for

(c) Both of the above

Clearly, (c) is the optimum answer. If your website’s homepage is doing its job effectively it guides visitors one step deeper into your website. Better yet, it guides the right visitors to the next page, or the content they seek.
</p>
			</div>
		  </div>
		  <br>
		  <div class = "row">
			<div class ="col-md-6">
				<img class ="home-image" src = "/img/ab4.jpg"  width = "100%">
			</div>
			<div class = "col-md-6">
			Barry Feldman, founder of Feldman Creative, is a prolific writer with 25 years of experience bringing his clients' online presence to the next level through copywriting and content marketing creation and consulting. He writes and educates clients on online marketing on The Point and on many other sites across the web. Connect with Barry on Twitter and LinkedIn.
			<p>Planning, creating, and publishing website homepage content is no walk in the park. In fact, it presents the most difficult—and important—decisions a digital marketer must make.

Everyone seems to want to know the exact formula for getting it right. But no such formula exists. So the process of getting homepage content published often paralyzes marketers big and small, experienced and novice.

I have the “What should I put on my homepage?” conversation with clients nearly every day. The answer could be:

(a) Content that best positions your company as the solution to a specific problem

(b) Content prospective buyers are looking for

(c) Both of the above

Clearly, (c) is the optimum answer. If your website’s homepage is doing its job effectively it guides visitors one step deeper into your website. Better yet, it guides the right visitors to the next page, or the content they seek.
</p>
			</div>
		  </div>
		  <br>
		  <div class = "row">
			<div class ="col-md-6">
				<img class ="home-image" src = "/img/ab1.jpg"  width = "100%">
			</div>
			<div class = "col-md-6">
			Barry Feldman, founder of Feldman Creative, is a prolific writer with 25 years of experience bringing his clients' online presence to the next level through copywriting and content marketing creation and consulting. He writes and educates clients on online marketing on The Point and on many other sites across the web. Connect with Barry on Twitter and LinkedIn.
			<p>Planning, creating, and publishing website homepage content is no walk in the park. In fact, it presents the most difficult—and important—decisions a digital marketer must make.

Everyone seems to want to know the exact formula for getting it right. But no such formula exists. So the process of getting homepage content published often paralyzes marketers big and small, experienced and novice.

I have the “What should I put on my homepage?” conversation with clients nearly every day. The answer could be:

(a) Content that best positions your company as the solution to a specific problem

(b) Content prospective buyers are looking for

(c) Both of the above

Clearly, (c) is the optimum answer. If your website’s homepage is doing its job effectively it guides visitors one step deeper into your website. Better yet, it guides the right visitors to the next page, or the content they seek.
</p>
			</div>
		  </div>
		</div>
	{% endblock%}	
		
	