<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NaturePark</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/gallery">gallery</a></li>
      <li><a href="/contact">contact Us</a></li>
	  <li><a href="/login">Login With Us</a></li>
	  <li><a href="/contactDetail">All contact Detail</a></li>
    </ul>
  </div>
</nav>