<div class="container">
  <div class="row">
    <div class="col-sm-8">
     <p>
       Please click on the below link to verify your email and confirm that I unconditionally agree and authorize Andromeda Sales and Distribution Pvt. Ltd. and associated Financial Institutions to obtain my credit information from the Credit Bureaus in order to confirm my identity and credit history. 
	</p><p>
appearance, and behavior are implemented and affected by other text-based resources: HTML, CSS, and JavaScript code.
</p><p>
In a web page, every character of that content, structure, formatting, and behavior must be fetched from the server and downloaded to the browser, a decidedly non-trivial task. In this section we'll look at some effective methods for speeding up text content loading.
Text content on the web always has some structure -- even if only top-down, and some formatting -- even if only by default. </p>
    </div>
    <div class="col-sm-4">
      <img width = "300px" src="assets/img/ab3.jpg">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
     <p>
       Text: letters and numbers, words and phrases, sentences and paragraphs. It's how we convey most of the meaning in web pages. Text content informs, describes, explains concepts and procedures to our readers (not just "visitors"). It is the very basis of web communication.
	</p><p>
Text content on the web always has some structure -- even if only top-down, and some formatting -- even if only by default. It can also exhibit behavior, moving or changing, appearing or disappearing in response to a reader's action or the author's intent. But in and of itself, text content doesn't have these qualities and abilities; its structure, appearance, and behavior are implemented and affected by other text-based resources: HTML, CSS, and JavaScript code.
</p><p>
In a web page, every character of that content, structure, formatting, and behavior must be fetched from the server and downloaded to the browser, a decidedly non-trivial task. In this section we'll look at some effective methods for speeding up text content loading.
Text content on the web always has some structure -- even if only top-down, and some formatting -- even if only by default. </p><p>It can also exhibit behavior, moving or changing, appearing or disappearing in response to a reader's action or the author's intent. But in and of itself, text content doesn't have these qualities and abilities; its structure, appearance, and behavior are implemented and affected by other text-based resources: HTML, CSS, and JavaScript code.
</p>
    </div>
</div>

</div>


<app-sub-about [myinput] = "inputVariable"></app-sub-about>
